name: Deploy
on: 
  workflow_call:
    inputs:
      PYTHON_VERSION:
        default: "3.9"
        type: string

jobs:

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:

      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: ./.github/actions/python-setup
        with:
          PYTHON_VERSION: ${{ inputs.PYTHON_VERSION }}

      - name: Deploy
        run: echo "Add deploy script"
